<!DOCTYPE html>
<html>
<head>
  <title>Astrochimp</title>
  <%= stylesheet_link_tag    "astrochimp/application", :media => "all" %>
  <%= javascript_include_tag "astrochimp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
