<h2></h2>
<p>
  Your referral link to invite others:
  <%= link_to referral_link_path(referrer_code: @signup.referral_code, only_path: false),
              referral_link_path(referrer_code: @signup.referral_code) %>
</p>
<p>
  Number of people you have referred:
  <%= @signup.signups_count %>
</p>
<p>Your signup object:</p>
<pre>
  <%= @signup.inspect %>
</pre>
